{% load django_bootstrap5 %}

{#этот шаблон не включаем на уровне шаблонов, рендерим его в UserChangeView и передаем на фронт в json, далее вставляем #}
{#отрендеренный html в модальное окно в profile_detailed.html #}
<form action="{% url "user_update" user_obj.pk %}" id="id-profile-update-form">
    {% csrf_token %}
    <!-- Modal -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% bootstrap_field profile_form.avatar %}
                    {% bootstrap_field form.first_name %}
                    {% bootstrap_field form.last_name %}
                    {% bootstrap_field form.email %}
                    {% bootstrap_field profile_form.phone_number %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update profile</button>
                </div>
</form>